body{
  font-size: 14px;
}

.container{
  width: 400px;
  margin: 20px auto;
}

h1{
  font-size: 16px;
  padding-bottom: 10px;
  margin: 0 0 15px 0;
  border-bottom: 1px solid grey;
}

input[type="text"],textarea{
  box-sizing: border-box;
  width: 400px;
  padding: 5px;
}

textarea{
  height: 120px;
}

.error{
  font-size: 12px;
  color: tomato;
}